---
layout: default
slideshow: 
- /assets/images/illustrations/aurora-georges-snowoman-edit.jpg
- /assets/images/slideshow/frontpage_seaworld.jpg
- /assets/images/illustrations/aurora-georges-fall-red.jpg
- /assets/images/characters/assassin_concept_final.jpg
- /assets/images/slideshow/03.jpg
- /assets/images/illustrations/art_collab_final.jpg
- /assets/images/props/PerfectlyParanormal.jpg
- /assets/images/slideshow/02.jpg
- /assets/images/slideshow/05.jpg
- /assets/images/slideshow/01.jpg
- /assets/images/slideshow/06.jpg
socialmedias:
- 
  name: Facebook
  link: https://www.facebook.com/AuroraGeorgesArt/
  icon: /assets/facebook.svg
  class: socialmedia-icon-fb
- 
  name: Instagram
  link: https://www.instagram.com/illustraurora/
  icon: /assets/instagram.svg
  class: socialmedia-icon-ig
- 
  name: Artstation
  link: https://www.artstation.com/artist/glosh
  icon: /assets/artstation.svg
  class: socialmedia-icon-as
---
<div id="frontpage" class="fullscreen centering">
  <div class="frontpage-container" >
    <div id="frontpage-images">
      {% for image in page.slideshow %}
        <div class="frontpage-image circle" style="background-image: url({{ image }});"></div>
      {% endfor %}
    </div>
    <h1 class="frontpage-title">Aurora Georges</h1>
    <h2 class="frontpage-description">Illustrator and concept artist</h2>
  </div>
</div>
<div id="about" class="section">
  <h2 class="section-header">About me</h2>
  <p class="paragraph">
    Hello, my name is Aurora Georges and I'm an artist and illustrator 
    currently based in Barcelona, Spain.
  </p>
  <p class="paragraph">
    Born in 1994, I early discovered a passion for drawing. While specializing 
    in art in high school, I knew I wanted to become better in what I love to 
    do. After obtaining my bachelor degree in Digital Art and Design from 
    Hedmark University of Applied Sciences, I started my career working as a 
    freelancer; creating illustrated logos and portraits.
  </p>
  <p class="paragraph">  
    Now with 5+ years of experience in the mobile game industry, I have worked with different mobile games ranging in a variation of art-styles. With my first position as a Junior 2D concept artist at Gameloft, 
    I created concept art of characters and weapons, as well as illustrations for N.O.V.A. Legacy. After working there, I started working as a 2D Artist for Idle Miner Tycoon at Kolibri, where I created a range of different graphics.
    Collaborating with multiple artists on the team, I've created concept art and illustrations of in game-offers, characters, backgrounds and various smaller assets.
    Then at Tap4Fun with my position as a Concept Artist, I was working on creating concepts of characters, weapons and props on an unannounced IP working closely with the Art Director and following the given feedback.
    Working in such professional environments I've learnt how to produce more efficiently concept art and illustrations in an overall production process based on communication.
    Moving abroad to work at these companies has also allowed me to experience the joy of new cultures as well as an international working environment in which I really thrive!
  </p>
  <p class="paragraph">
    I'm always looking forward to work on interesting projects, meet new people and constantly improve my art, 
    so please feel free to contact me about work opportunities. You can also
    <a class="link" href="/assets/files/CV_AuroraGeorges.pdf">
      download my resume
    </a>.
  </p>
  <div class="horizontal">
    <div class="circle about-image" style="background-image: url(/assets/images/me/Me_26.jpg)"></div>
  </div>
</div>
<div id="contact" class="section">
  <h2 class="section-header">Contact me</h2>
  <p class="paragraph">
    Feel free to send me a mail at 
    <a class="link" href="mailto:aurorageorges@hotmail.com">aurorageorges@hotmail.com</a> 
    or find me on social media.
  </p>
  <div class="socialmedia">
    {% for socialmedia in page.socialmedias %}
      <a href="{{ socialmedia.link }}"target="_blank">
        <svg role="img" class="socialmedia-icon {{ socialmedia.class }}">
          <title>{{ socialmedia.name }} link</title>
          <use href="{{ socialmedia.icon }}#icon"></use>
        </svg>
      </a>
    {% endfor %}
  </div>
</div>
<script>
var slides = document.querySelectorAll('.frontpage-image');
slides[0].classList.add('visible');
var currentSlide = 0;
var slideInterval = setInterval(nextSlide, 4000);
function nextSlide() {
  slides[currentSlide].classList.remove('visible');
  currentSlide = (currentSlide + 1) % slides.length;
  slides[currentSlide].classList.add('visible');
}
</script>
  
