<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="shortcut icon" href="/assets/icons/favicon.ico">
  <link rel="manifest" href="/assets/js/ag.webmanifest">
  <link rel="stylesheet" href="/assets/css/ag.css">
  
  <title>Aurora Georges</title>
</head>
<body>
  <nav class="navigator">
    <div class="navigator-links wrapper">
      <a {% if page.url == "/" %} class="txt-underlined" {% endif %} href="/">Aurora Georges</a>
      <a href="/#about">About</a>
      <a href="/#contact">Contact</a> 
      <a {% if page.url != "/" %} class="txt-underlined" {% endif %} href="/portfolio.html">Portfolio</a>
    </div>
  </nav>
  <main class="main wrapper">
    {{ content }}
  </main>
  <footer class="footer">Copyright &copy; 2019 Aurora Georges</footer>
</body>
</html>